form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.error-input {
  border: 1px solid red;
}
.google-signin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.google-signin-button:hover {
  background-color: #eee;
}

.google-logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
